extends layout

block content
    nav
        div.nav-content
            div.nav-text
                p BAT Portfolio
        div.nav-links
            a(href='/')
                p Home


    main.content
        div.content-display
            div.list-page-container
                div.list-display
                    .detail-list-item
                        h1.detail-content-heading #{data.name}
                        div.list-item-info
                            strong.info-text Release Date:
                            p.info-text #{data.release_date}
                        div.list-item-info
                            strong.info-text Number of Devices:
                            p.info-text #{data.number_in_stock}
                        div.list-item-info
                            strong.info-text Consumable Type:
                            p.info-text #{data.consumable}

            div.select-options
                a(href=data.url + '/update')
                    p.update-device Update Device
                a(href=data.url + '/delete')
                    p.delete-device Delete Device



    footer
        div.footer-content
            p Copyright © 2022, GitHub // Mika.dev
        div.footer-border
